# EditorConfig for KtSON
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
continuation_indent_size = 4
max_line_length = 140

# Ktlint configuration
# Use IntelliJ IDEA code style
ktlint_code_style = intellij_idea
ktlint_standard = enabled

# Disable some overly strict rules for flexibility
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_indent = disabled
ktlint_standard_max-line-length = disabled

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off

